b {
	font-weight: normal;
}


/*-------------------------------------头部下面的商标和购物车指示-----------------------------------*/

#cart_point {
	width: 100%;
}

#subcart_point {
	width: 1200px;
	height: 112px;
	margin: 0 auto;
	line-height: 112px;
}

.point_right {
	margin-top: 36px;
}

.point-cart {
	position: absolute;
	right: 115px;
	top: 66px;
	width: 574px;
	height: 34px;
	text-indent: 100%;
	white-space: nowrap;
	cursor: pointer;
	background: url(../img/banner/cart.png) no-repeat;
}

.my_cart {
	background-position: 0 0;
}


/*-------------核对订单    提交订单---------- ---------------------------------添加点击事件------------*/

.check_cart {
	background-position: 0 -44px;
	display: none;
}

.submit_cart {
	background-position: 0 -88px;
	display: none;
}


/*----------------------------------------------购物车详情-----------------------------------*/

.cart_det {
	width: 100%;
}

.subcart_det {
	width: 1198px;
	min-height: 30px;
	margin: 0 auto;
	font-size: 12px;
	color: #333;
}

.list-head {
	width: 1198px;
	height: 30px;
	line-height: 30px;
	background: #F7F7F7;
	border: 1px solid #DEDEDE;
}

.th1 {
	width: 37px;
	text-align: center;
	padding-right: 9px;
}

.th2 {
	width: 617px;
	text-align: center;
}

.th3 {
	width: 155px;
	text-align: center;
}

.th4,
.th5 {
	width: 140px;
	text-align: center;
}

.th6 {
	width: 100px;
	text-align: center;
}


/*-----购物车主要内容----*/

.cart_list {
	width: 1198px;
	border: 1px solid #DEDEDE;
	border-top: none;
	border-bottom: none;
}

.cart_detail {
	border-bottom: 1px solid #DEDEDE;
}

.td1 input {
	margin-top: 10px;
}

.td2 {
	width: 617px;
	border-right: 1px solid #DEDEDE;
}

.td3,
.td4,
.td5 {
	border-right: 1px solid #DEDEDE;
}

.td2 .p_img a img {
	width: 65px;
	height: 65px;
	margin-top: -15px;
}

.p_img,
.p_name {
	float: left;
}

.p_name a:hover {
	text-decoration: underline;
}

.pro_area {
	padding: 20px 20px 20px 0;
}

.p_name a {
	color: #333333;
	line-height: 17px;
}

.p_name span {
	color: #999;
	line-height: 17px;
}

.add {
	width: 58px;
	height: 38px;
	position: relative;
	margin-left: 40px;
}

#addCount {
	width: 37px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	border: none;
	outline: none;
	border: 1px solid #333;
	float: left;
}

.kua {
	float: right;
}

.j {
	display: block;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	border: 1px solid #333;
	background: url(../img/小图标/red.png) no-repeat;
}

.jian {
	margin-top: 3px;
	background-position: 0 -66px;
}

.jia {
	background-position: 0 -41px;
}


/*------------------------------------------总计金额一栏--------------------------------------*/

.delete {
	width: 100%;
	margin-top: 30px;
}

.delete_cart {
	width: 1170px;
	height: 154px;
	margin-top: 20px;
	padding: 0px 20px 0px 10px;
	border: 1px solid #DEDEDE;
	margin: 0 auto;
}

.delete_left {
	color: #007dff;
	font-size: 12px;
	float: left;
	padding: 20px 0 0 0;
}

.delete_left a {
	color: #007dff;
}

.l {
	margin-left: 15px;
}

.delete_right {
	font-size: 12px;
	color: #333;
	float: right;
}

.delete_right p {
	width: 265px;
	text-align: right;
	height: 51px;
	line-height: 51px;
}

.line {
	border-bottom: 1px solid #DEDEDE;
}

.no_line {
	font-size: 14px;
}

.no_line .l {
	color: #e01d20;
	font-size: 16px;
	font-weight: 400;
}

.no_line #addMoney {
	margin-left: 0;
}

.go_on {
	width: 1200px;
	margin: 0 auto;
	text-align: right;
	margin-top: 30px;
	margin-bottom: 100px;
}

.go_on .g {
	display: inline-block;
	width: 150px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 16px;
}

.go_on .g:hover {
	opacity: .5;
}

.go_on .a1 {
	border: 1px solid #D1D1D1;
	background: #F7F7F7;
}

.go_on .a2 {
	border: 1px solid #E01D20;
	background: #e01d20;
	color: #fff;
	margin-left: 20px;
}


/*-----------------------------------------底部添加上划线---------------------------------------*/

#slogan {
	border-top: 1px solid #EEEEEE;
}


/*--------------------------------------------点击去结算页面------------------------------------*/

.go_money {
	width: 1200px;
	margin: 0 auto;
	color: #333333;
	display: none;
}

.go_money a:hover {
	text-decoration: underline;
}

.sure_dress a {
	color: #007dff;
	margin-left: 10px;
}

.sure_add a,
.sure_ele a {
	color: #007dff;
}

.sure_add {
	margin-top: 10px;
	margin-bottom: 30px;
	height: 49px;
	background: #f7f7f7;
	border: 1px solid #dedede;
	text-align: center;
	line-height: 49px;
}

.sure_ele {
	height: 60px;
	border: 1px solid #DEDEDE;
	text-align: center;
	line-height: 60px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.sure_ele span {
	margin-right: 15px;
}